body{ background-color: lightpink}
p{
    font-family: 'Source Sans Pro', sans-serif;

}
h1{
    font-family: 'Pacifico', cursive;
    color: red;
    font-size: 4em;
    text-align: center;

}
.fa-heart{
    color: red;
}
.container{
    font-family:Arial;
    width:100%;
    display:block;

    /* display:flex;
    flex-direction: row; */
    margin:0 auto;
}
.photoGallery{
   
    color:black;


}
